@media screen and (min-width: 1200px) {
	.page-template-page-templatesminimal-php .col-lg-offset-3 {
		margin-left: 30%;
	}
}

@media screen and (max-width: 992px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.download-widget-area {
		text-align: left;
	}

	.download-widget:first-child {
		padding-top: 40px;
	}

	.download-widget:last-child {
		padding-bottom: 0;
	}

	.download-widget {
		border-right: 0;
	}

	.download-widget li a {
		padding-left: 0;
		padding-right: 0;
		display: inline-block;
	}

	.download-widget li a:hover {
		background: none;
	}

	/* Search widget */
	.widget_search .search-form {
		margin-right: 0;
	}

	.widget_search .search-form input[type="search"] {
		width: 70%;
	}

	.widget_search .search-form .search-submit {
		width: 30%;
	}
}