/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/* =Homepage Search
----------------------------------------------- */

.home-search .main-navigation .search-form {
	display: none;
}

.home-search .page-header {
	padding: 100px 0 190px;
}

.home-search .page-header .search-form {
	margin-top: 3em;
}

.home-search .page-header .search-form .search-field,
.search-form-overlay .search-form .search-field {
	color: #acb0b3;
	background: #fff;
	border-color: #fff;
}

.home-search .page-header .search-form input[type=search]::-webkit-input-placeholder,
.search-form-overlay .search-form input[type=search]::-webkit-input-placeholder {
	color: #ddd;
}

.search-form-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 5;
	opacity: 0;
	visibility: hidden;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition:    all 0.25s ease-in-out;
	transition:         all 0.25s ease-in-out;
}

.search-form-overlay.active {
	opacity: 1;
	visibility: visible;
}

.search-form-overlay .search-form {
	position: relative;
	width: 40%;
	top: 50%;
	left: 30%;
	position: absolute;
	overflow: visible;
}

.header-search-toggle {
	font-size: 20px;
	color: #fff !important;
	position: absolute;
	top: 6px;
	right: -38px;
}

/* =Content
----------------------------------------------- */

.sticky {
}

.hentry.row .entry-title,
.edd_download_title {
	font: 700 20px 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0 0 1em;
}

.hentry:not(.type-download) .entry-title a,
.edd_download_title a {
	text-decoration: none;
}

.blog-archive-image img {
	border-radius: 50%;
}

.entry-meta,
.entry-meta a {
	font-size: 14px;
	color: #82878e;
	text-decoration: none;
}

.entry-meta > span {
	margin-right: 10px;
}

.hentry.post .entry-meta .byline img,
.flexslider .slides .byline img {
	margin-left: 0;
	margin-right: 6px;
	width: 25px;
	height: 25px;
	display: inline-block;
}

.updated,
.single-post .entry-header {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	line-height: 25px;
	margin: 1em 0 0;
}

.single-post .entry-content,
.page .entry-content,
.error-404 .page-content {
	margin-top: 0;
}

.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	margin: 0 0 24px;
	width: 100%;
}

.entry-content table caption,
.comment-content table caption {
	margin: 24px 0;
}

.entry-content td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

.entry-content th,
.comment-content th,
.edd_download_title {
	font: 400 14px 'Montserrat', sans-serif;
	color: #bdc3c7;
	text-transform: uppercase;
	padding: 6px 10px 6px 0;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.download-single-widget-title,
.download-author a,
.comment-reply-title,
.entry-content .edd-slg-social-container legend,
.page-template-page-templatesteam-php .byline,
.fes_header {
	font: 700 16px 'Montserrat', sans-serif;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	margin: 2em 0;
}

.entry-content h1 {
	font-size: 28px;
	margin: 0.7em 0;
}

.entry-content h2 {
	font-size: 24px;
	margin: 1em 0;
}

.entry-content h3 {
	font-size: 19px;
	margin: 1.1em 0;
}

.entry-content h4 {
	font-size: 16px;
}

.entry-content h5 {
	font-weight: 400;
	font-size: 14px;
}

.entry-content h6 {
	font-weight: 400;
	font-size: 13px;
}

.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child {
	margin-top: 0;
}

.entry-content blockquote {
	padding-left: 1.5em;
	border-left: 2px solid;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-author {
	margin-bottom: 40px;
	position: relative;
}

.entry-author .gravatar {
	position: relative;
	margin: 0 auto 40px;
}

.entry-author .gravatar img {
	border-radius: 50%;
	border: 4px solid #fff;
	min-width: 100%;
	display: block;
}

/* Navigation */
.paging-navigation {
	text-align: center;
	margin: 45px 0 0;
}

.comment-navigation {
	margin: 45px 0;
}

.paging-navigation > div {
	margin: 0 10px;
	display: inline-block;
}

.nav-previous a,
.nav-next a {
	border: 1px solid #bdc3c7;
	display: inline-block;
	text-decoration: none;
}

.post-navigation .nav-previous a,
.comment-navigation .nav-previous a {
	padding-right: 20px;
}

.post-navigation .nav-next a,
.comment-navigation .nav-next a {
	padding-left: 20px;
}

.nav-previous .nav-title,
.nav-next .nav-title {
	font: 400 14px 'Montserrat', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin: 27px 0 0 -15px;
}

.nav-previous i,
.nav-next i {
	color: #bdc3c7;
	font-size: 50px;
	line-height: 65px;
	float: left;
}

.post-navigation .nav-previous,
.comment-navigation .nav-previous {
	float: left;
}

.post-navigation .nav-next,
.comment-navigation .nav-next {
	float: right;
}

.post-navigation .nav-previous a,
.comment-navigation .nav-previous a,
.post-navigation .nav-next a,
.comment-navigation .nav-next a {
	border: 0;
}

.post-navigation .nav-previous i,
.post-navigation .nav-next i,
.comment-navigation .nav-previous i,
.comment-navigation .nav-next i {
	line-height: 45px;
	font-size: 30px;
}

.post-navigation .nav-previous .nav-title,
.post-navigation .nav-next .nav-title,
.comment-navigation .nav-previous .nav-title,
.comment-navigation .nav-next .nav-title {
	margin: 14px 0 0 -5px;
}

/** Password */
.post-password-form p {
	overflow: hidden;
}

.post-password-form label {
	width: 80%;
	float: left;
}

.post-password-form input[type="submit"] {
	margin-top: 25px;
	padding: 13px 20px 14px;
	width: 19%;
	float: right;
}

/** Page Links */
.page-links {
	font-weight: bold;
}

.page-links a {
	font-weight: normal;
	text-decoration: none;
	margin: 0 3px;
	padding: 0 7px;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 3px;
}

/* =Download
----------------------------------------------- */

.single-download .site-content .jp-type-playlist {
	border-radius: 5px;
	border: 1px solid #bdc3c7;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.site-main .gallery {
	margin-bottom: 1.5em;
}

.gallery-caption {
}

.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}

.site-main .gallery dd {
	margin: 0;
}

.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* =Comments
----------------------------------------------- */

.comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comment,
.pingback {
	margin-bottom: 55px;
}

.comment-meta {
	width: 90px;
	float: left;
}

.pingback .comment-meta {
	display: none;
}

.comment-content {
	line-height: 25px;
	padding: 20px;
	border: 1px solid #bdc3c7;
	background: #fff;
	position: relative;
}

.comment-content p:last-child {
	margin-bottom: 0;
}

.comment.depth-1 .comment-content {
	margin-left: 140px;
}

.comment .comment-content:after {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-right: 14px solid #fff;
	content: ' ';
	position: absolute;
	top: 32px;
	left: -15px;
}

.comment .comment-content:before {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-right: 14px solid #bdc3c7;
	content: ' ';
	position: absolute;
	top: 32px;
	left: -16px;
}

.comment-list .children {
	margin: 25px 0 0 140px;
	padding: 0;
	list-style: none;
}

.comment-list .comment-author {
	text-align: center;
}

.comment-list .children .comment-author.vcard img {
	margin-top: 26px;
	width: 40px;
	height: 40px;
}

.comment-list .children .comment-content {
	margin-left: 100px;
}

.comment-metadata {
	font-size: 13px;
	color: #82878e;
	border-bottom: 1px solid #bdc3c7;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.comment-metadata .edit-link a,
.comment-metadata .reply-link a {
	font-weight: bold;
}

.comment-metadata a {
	color: #82878e;
	text-decoration: none;
}

.comment-content a {
	word-wrap: break-word;
}

.comment-author .fn,
.comment-metadata .fn {
	font: 400 10px 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	margin-top: 8px;
	display: block;
	text-align: center;
}

.comment-metadata .fn  {
	font-size: 12px;
	text-align: left;
	display: none;
}

.comment-author .fn a {
	text-decoration: none;
}

.comment-author img {
	border-radius: 50%;
}

.bypostauthor {
}

.comment-form {
	margin-bottom: 100px;
}

.comment-form input[type="text"],
.comment-form input[type="password"] {
	width: 50%;
}

.comment-reply-title small {
	vertical-align: middle;
	display: inline-block;
	float: right;
	line-height: 20px;
}

#cancel-comment-reply-link {
	color: #d04e4e;
	text-decoration: none;
}

/* =Global Widgets
----------------------------------------------- */

.widget-area .section-title {
	margin: 55px 0;
}

.widget-area .widget:first-child .section-title {
	margin-top: 0;
}

.widget ul,
.widget ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.widget li {
	margin: 5px 0;
}

.edd-taxonomy-widget .children {
	list-style: disc;
	margin-left: 40px;

	li a {
		padding-left: 0 !important;
		display: inline;

		&:hover {
			background: none !important;
		}
	}
}

.widget a {
	text-decoration: none;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
	min-width: 100%;
}

/* Cart */
.widget .edd-cart-item .edd-cart-item-title {
	display: block;
}

.widget .edd-cart-item .edd-cart-item-separator {
	display: none;
}

.widget .edd-cart-item .edd-cart-item-price {
	font: 400 16px 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-left: -4px;
}

.widget .edd-remove-from-cart,
.edd-fes-adf-submission-option-remove a,
.edd_repeatable_upload_field_container .edd_upload_file a {
	font-size: 0;
	text-decoration: none;
}

.widget .edd-remove-from-cart:before,
#cancel-comment-reply-link:before,
.edd-fes-adf-submission-option-remove a:before,
.edd_repeatable_upload_field_container .edd_upload_file a:before {
	font-size: 15px;
	visibility: visible !important;
	content: '\e678';
}

.widget .cart_item.edd_subtotal {
	font-weight: normal;
	font-style: normal;
	margin: 15px 0;
}

.widget .cart_item.edd_subtotal .subtotal {
	font-weight: bold;
}

.widget .cart_item.edd_checkout a {
	text-align: center;
	display: block;
}

/** Related/Recent/ETC */
.widget-related-entries,
.widget-most-recent {
	overflow: hidden;
}

.widget-related-entries li,
.widget-most-recent li {
	margin: 0 4% 4% 0;
	float: left;
	width: 29%;
}

.widget-related-entries .widget-download-title,
.widget-most-recent .widget-download-title {
	display: none;
}

.widget-related-entries li img,
.widget-most-recent li img {
	min-width: 100%;
	height: auto;
}

/** Calendar */
#wp-calendar {
	margin: 0;
	width: 100%;
}

#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}

#wp-calendar caption {
	text-transform: uppercase;
	font-weight: bold;
}

#wp-calendar #next {
	padding-right: 24px;
	text-align: right;
}

/** RSS */
.widget_rss li {
	margin-bottom: 20px;
}

.widget_rss li:before {
	content: ' ';
}

.widget_rss li a {
	text-transform: uppercase;
	font-weight: bold;
	padding: 0;
}

.widget_rss li a:hover {
	background: none;
}

.widget_rss .rss-date {
	font-size: 13px;
	display: block;
	margin: 5px 0;
}

/* Search widget */
.search-form {
	overflow: hidden;
}

.search-form .search-field,
.main-navigation .search-form .search-field {
	font: 400 16px 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
	background: #bdc3c7;
	width: 87%;
}

.main-navigation .search-form .search-field {
	padding: 5px;
	font-size: 13px;
	background: rgba(255, 255, 255, .40);
	border: 1px solid transparent;
	float: right;
}

.search-form .search-submit {
	font-size: 21px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border: 0;
	width: 13%;
	float: right;
	padding: 8px 0;
}

.search-form input[type=search]::-webkit-input-placeholder {
	color: #fff;
}

/* Home Widgets
----------------------------------------------- */

.marketify_widget_taxonomy_stylized {
	margin-top: -70px;
	padding: 30px 0;
}

.marketify_widget_taxonomy_stylized ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.marketify_widget_taxonomy_stylized li {
	margin: 5px 0;
	width: 100%;
	float: left;
	text-align: center;
}

.marketify_widget_taxonomy_stylized a {
	font: 700 14px 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.marketify_widget_featured_popular .home-widget-title span {
	cursor: pointer;
	margin: 0 10px;
}

/** Features */
.features {
	overflow: hidden;
}

.feature {
	text-align: center;
}

.feature a {
	display: inline-block;
}

.feature-title,
.individual-testimonial .author span:first-child {
	font: 700 16px 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	margin-top: 1.25em;
}

.individual-testimonial .author .title {
	display: block;
}

/** Testimonials */
.testimonials-list {
	overflow: hidden;
	text-align: center;
}

.company-testimonial {
	text-align: center;
	display: inline-block;
	margin: 0;
}

.company-testimonial img {
	width: 200px;
	height: auto;
}

.testimonials-text {
	font-weight: 300;
	font-size: 20px;
	font-style: italic;
	line-height: 25px;
	margin: 0 0 30px;
	padding: 0;
}

.individual-testimonial {
	text-align: left;
	margin-bottom: 4em;
	overflow: hidden;
	clear: both;
	display: none;
}

.individual-testimonial:last-child {
	margin-bottom: 0;
}

.individual-testimonial .testimonials-text {
	margin-left: 27px;
}

.individual-testimonial .testimonials-text p {
	margin-bottom: 0;
	display: inline;
}

.individual-testimonial .testimonials-text:before,
.individual-testimonial .testimonials-text:after {
	color: #bdc3c7;
	content: '\e621';
}

.individual-testimonial .testimonials-text:before {
	top: -2px;
	left: 0;
	position: absolute;
	font-size: 30px;

	-webkit-transform: rotate(-180deg);
	-moz-transform:    rotate(-180deg);
	transform:         rotate(-180deg);
}

.individual-testimonial .avatar-wrap {
	border-radius: 50%;
	overflow: hidden;
	margin-left: 27px;
	float: left;
	display: inline-block;
}

.individual-testimonial .avatar,
.individual-testimonial .avatar-link,
.individual-testimonial .author {
	float: left;
}

.individual-testimonial .author {
	margin-left: 27px;
}

.individual-testimonial .avatar-link img {
	border-radius: 50%;
}

.individual-testimonial .author .excerpt {
	font: 400 15px 'Source Sans Pro', sans-serif;
	text-transform: none;
	letter-spacing: 0;
	margin-top: 5px;
	display: block;
}

/** Pricing */
.pricing-table-widget {
	margin-bottom: 30px;
}

.pricing-table-option {
	padding: 20px;
}

.pricing-table-widget-description {
	color: #fff;
	text-align: center;
	padding: 20px;
	border: 5px solid #fff;
}

.pricing-table-widget-description h2,
.pricing-table-widget-description h3 {
	font: 700 50px 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	margin: 0;
}

.pricing-table-widget-description h3 {
	font-size: 13px;
}

.pricing-table-widget-description sup {
	font-size: 28px;
	font-weight: 400;
}

.pricing-table-widget-description ul {
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
}

.pricing-table-widget-description p,
.pricing-table-widget-description li {
	font-size: 16px;
	line-height: 25px;
}

.pricing-table-widget-description li {
	margin: 4px 0;
}

/** Misc */

.marketify_widget_recent_posts {
	margin-bottom: 40px;
}

/* Download Archive Widgets
----------------------------------------------- */

.download-archive-widget-area {
	position: relative;
	margin-bottom: 100px;
}

.download-archive-widget {
	padding-bottom: 40px;
	padding-left: 15px;
}

.download-archive-widget.widget li {
	margin: 0;
}

.download-archive-widget-title,
.error-404 .widgettitle {
	font: 700 16px 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #515a63;
	margin: 0 0 18px;
}

/** RSS */
.download-archive-widget .rsswidget {
	padding: 0;
}

.download-archive-widget .widget_rss li {
	margin-right: 0;
}

.download-archive-widget .search-submit {
	width: 20%;
}

.download-archive-widget .search-field {
	width: 80%;
}

/* Download Single Widgets
----------------------------------------------- */

.download-single-widget-title {
	margin: 0 0 15px;
}

.download-single-widget ol,
.download-single-widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.download-single-widget ol:last-child,
.download-single-widget ul:last-child {
	margin-bottom: 0;
}

.download-single-widget .widget-description {
	font-size: 13px;
	display: block;
	margin: -10px 0 20px;
}

/** Cart */
.widget .edd-cart {
	border-top: 1px solid #bdc3c7;
}

.edd-cart .cart_item.empty {
	margin-top: 25px;
}

.widget .edd-cart-item {
	margin: 0;
	padding: 20px 25px;
	border-bottom: 1px solid #bdc3c7;
	background: #fbfbfb;
}

.marketify_widget_download_share iframe:first-child {
	width: 100% important;
	display: block;
}

/* =Modals
----------------------------------------------- */

.popup {
	max-width: 420px;
	background: #fff;
	margin: 0 auto 0;
	padding: 50px 0 40px;
	position: relative;
	display: none;
}

.mfp-wrap .popup {
	display: block;
}

.popup .section-title {
	margin-top: 0;
	margin-bottom: 35px;
}

.mfp-close-btn-in .mfp-close {
	color: #fff;
	text-shadow: rgba(0, 0, 0, .40) 0 3px 0;
	opacity: 1;
	top: -34px;
	right: -38px;
}

.mfp-content{
	opacity: 0;
	visibility: hidden;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	transition:         all 0.2s ease-in-out;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style:    preserve-3d;
	transform-style:         preserve-3d;

	-webkit-transform: scale(0.25);
	-moz-transform:    scale(0.25);
	transform:         scale(0.25);

	-webkit-backface-visibility: hidden;
	backface-visibility:         hidden;
}

.mfp-ready .mfp-content {
	zoom: 1;
	opacity: 1;
	visibility: visible;

	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	transform:         scale(1);
}

.mfp-removing .mfp-content {
	zoom: 1;
	opacity: 0;
	visibility: visible;

	-webkit-transform: scale(0.25);
	-moz-transform:    scale(0.25);
	transform:         scale(0.25);
}
