.home-widget {
	margin-bottom: 6em;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.home-widget-title {
	margin-top: 0;
}

.home-widget-description {
	font-size: 18px;
	text-align: center;
	margin: 0 0 70px;
}
