.button {
	font: 700 13px/normal 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: none;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	border-style: solid;
	border-width: 2px;
	border-radius: 0;
	height: auto;

	-webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	transition:         all 0.2s;
}

.button--size-small {
	font-size: 12px;
	padding: 6px 10px;
}

.button--size-large {
	font-size: 18px;
	padding: 14px 20px;
	border-width: 3px;
}

.button--color-white {
	border-color: #fff;
	color: #fff;

	&:hover {
		background-color: #fff;
	}
}
