.header-outer {
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;

	.button {
		@extend .button--size-large;
		@extend .button--color-white;
	}
}
