
.nav-menu--primary {

}

@include bp(md) {
    .nav-menu--primary {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }

    .nav-menu--primary li {
        a {
            color: #fff;

            font: 700 13px/normal 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            text-shadow: none;
            text-align: center;
            display: inline-block;
            padding: 10px 20px;
        }
    }

    .nav-menu--primary li li a {
        text-align: left;
    }

    .nav-menu--primary li li:hover:not(.menu-item-has-children):not(.page_item_has_children), 
    ul.nav-menu--primary li li:hover:not(.menu-item-has-children):not(.page_item_has_children) {
        box-shadow: none;
    }
}
