.nav-menu {
	padding: 2em;
	border-bottom: 1px solid #e9edf2;
}

.nav-menu ul,
.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu ul ul {
	padding-left: 1em;
	border-left: 1px solid #e9edf2;
}

@include bp(md) {

	.navigation-bar-toggle {
		display: none;
	}

	.nav-menu,
	ul.nav-menu {
		padding: 0;
		border: 0;

		// top level menu item
		li {
			display: inline-block;
			position: relative;

			// top level link
			a {
				font-size: 100%;
				display: inline-block;

				&:hover {
					text-decoration: none;
				}
			}

			&:hover {
				> ul,
				> ul > ul {
					display: block;
					z-index: 101;

					li {
						display: block;
						margin-right: 0;
					}
				}

				ul ul {
					top: 0;
					margin-top: 0;
					right: 195px;
					left: auto;
					border-radius: 6px;

					&:after,
					&:before {
						right: -10px;
						top: 6px;
						border-width: 10px 0 10px 10px;
						border-color: transparent transparent transparent #fff;
					}

					&:before {
						border-width: 11px 0 11px 11px;
						border-color: transparent transparent transparent rgba(0, 0, 0, .06);
						top: 5px;
						right: -14px;
					}
				}
			}

			&[class^=ion] {
				> a {
					margin-left: -22px;
					padding-left: 22px;
				}

				&:before {
					margin-top: -2px;
				}
			}

			&.menu-item-has-children:after {
				@include ionicon;
                color: #fff;
				font-size: 16px;
				vertical-align: middle;
                position: absolute;
                top: 14px;
                right: 2px;
				content: "\f3d0";
			}
		}

		.sub-menu,
		.children {
			display: none;
			position: absolute;
			padding: 10px 0;
			top: 95%;
			right: -16px;
			z-index: 99999;
			border-radius: 4px;
			width: 200px;
			box-shadow: rgba(0, 0, 0, .06) 0 0 0 3px;
			background: #fff;
			border: 0;

			ul {
				left: 0;
				right: auto;
			}

			li:last-child {
				border-bottom: 0;
			}

			li.menu-item-has-children:after {
				display: none;
			}

            li {
                padding: 0;
                text-align: left;
            }

			// submenu link
			a {
				margin: 0;
				padding: 6px 22px;
				display: inline-block;
			}

			li[class^=ion] {
				padding-left: 22px;
				
				> a {
					margin-left: 0;
					padding-left: 0;
				}
			}

			&:before,
			&:after {
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent #fff transparent;
				content: ' ';
				position: absolute;
				top: -10px;
				right: 13px;
				z-index: 10;
			}

			&:before {
				border-color: transparent transparent rgba(0, 0, 0, .06) transparent;
				border-width: 0 11px 11px 11px;
				top: -14px;
				right: 12px;
				z-index: 7;
			}
		}
	}
}
