.page-title {
    font-weight: 300;
    font-size: 26px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.39) 0 2px 18px;
    max-width: 80%;
    margin: 0 auto;

    @include bp(md) {
        font-size: 32px;
    }

    @include bp(lg) {
        font-size: 40px;
    }
}
