.site-title {
    @include montserrat(700, 26px);
	clear: none;
}

.site-title a {
	color: #fff;
	text-decoration: none;
}

.site-title a:hover {
	color: #fff;
}

.site-branding .custom-header img {
	display: block;
}
