.site-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 26px;
	clear: none;
}

.site-title a {
	color: #fff;
	text-decoration: none;
}

.site-title a:hover {
	color: #fff;
}

.site-branding .custom-header img {
	display: block;
}
