.site-content {
    margin-top: 3em;
    margin-bottom: 3em;

    @include bp(md) {
        margin-top: 6em;
        margin-bottom: 6em;
    }
}

.site-content--home {
    margin-top: 0; /** this will come from the first widget */
}
