@import "checkout-cart";
@import "checkout-discounts";

#edd_checkout_form_wrap {
    @extend .section;

    fieldset {
        border: 0;
        padding: 0;
        @extend .section;
    }

    label {
      font-size: 100%;
    }

    p {
      margin-bottom: 2em;
    }
}
