
@import "button";
@import "input";
@import "section-title";
@import "checkout_discounts";
@import "fes_fpd";
@import "purchase_form";
@import "pagination";

/* =Social
-------------------------------------------------------------- */

.entry-content .edd-slg-social-container {
	border: 0;
	padding: 0;
}

.entry-content fieldset.edd-slg-social-container > span:after {
	text-align: left;
}

.minimal .entry-content .edd-slg-social-container legend,
.entry-content .edd-slg-social-wrap {
	color: #fff;
	text-align: center;
}

.minimal .entry-content fieldset.edd-slg-social-container > span {
	position: relative;
	display: block;
	text-align: center;
}

.minimal .entry-content fieldset.edd-slg-social-container > span:after {
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	content: ' ';
}

.entry-content fieldset.edd-slg-social-container > span:after {
	background: #000;
}

.minimal .entry-content .edd-slg-social-container span legend {
	background: black;
	padding: 0 10px;
	margin: 40px auto;
	width: auto;
	position: relative;
	z-index: 10;
	display: inline-block;
}

.edd-slg-social-wrap .edd-slg-login-wrapper {
	display: block;
	float: none;
	margin-bottom: 10px;
}

.edd-slg-social-wrap .edd-slg-login-wrapper a {
	font: 400 13px 'Montserrat', sans-serif;
	color: #fff;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	padding: 13px 20px;
	display: block;
}

.edd-slg-social-wrap .edd-slg-login-wrapper img {
	display: none;
}

.edd-slg-social-wrap .edd-slg-login-wrapper span {
	font-size: 20px;
	line-height: 14px;
	display: inline-block;
	vertical-align: top;
	margin-right: 2px;
}

.edd-slg-social-wrap .edd-slg-login-wrapper span:before {
	line-height: 16px;
}

.edd-slg-social-login-facebook {
	background: #3b5998;
}

.edd-slg-social-login-facebook span:before {
	content: '\e6f6';
}

.edd-slg-social-login-twitter {
	background: #00acee;
}

.edd-slg-social-login-twitter span:before {
	content: '\e6f4';
}

.edd-slg-social-login-googleplus {
	background: #dd4b39;
}

.edd-slg-social-login-googleplus span:before {
	content: '\e6f9';
}

.edd-slg-social-login-linkedin {
	background: #0e76a8;
}

.edd-slg-social-login-linkedin span:before {
	content: '\e6ff';
}

.edd-slg-social-login-yahoo {
	background: #720e9e;
}

.edd-slg-social-login-windowslive {
	background: #0072C6;
}
