
.edd_price_options ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.edd_price_options li {
	color: #515a63;
	font-size: 16px;
	padding: 10px 20px;
	border-bottom: 1px solid #bdc3c7;
}

.entry-content .edd_price_options li {
	padding: 15px 20px;
}

.edd_price_options label,
.modal-content label {
	font-family: 'Source Sans Pro';
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0;
	margin-bottom: 0;
}

.edd_price_options label .edd_price_option_price {
	font-weight: 700;
}

.modal-content label {
	font-size: 16px;
}

.edd_price_options input[type="radio"],
body #edd-wl-modal input[type="radio"] {
	margin-right: 10px;
	padding: 3px;
	border: 6px solid #bcc3c8;
	background: #fff;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -4px;

	-webkit-appearance: none;
}

.edd_price_options li input[type="radio"]:focus,
body #edd-wl-modal input[type="radio"]:focus {
	outline: 0;
}

.download-variable .edd_download_purchase_form .edd_price_options li,
.popup .edd_download_purchase_form .edd_price_options li {
	padding: 20px 40px;
}

.entry-content > *:not(.edd_downloads_list) .edd_purchase_submit_wrapper,
.popup .edd_purchase_submit_wrapper {
	text-align: center;
	margin-top: 20px;
}

.download-variable .entry-content > *:not(.edd_downloads_list) .edd_purchase_submit_wrapper,
.popup .edd_purchase_submit_wrapper {
	margin-top: 40px;
}

.edd-variable-pricing-desc {
	font-size: 13px;
	margin: 0;
}

.download-variable .entry-content .edd-add-to-cart.button.edd-submit,
.download-variable .entry-content .edd_go_to_checkout.button.edd-submit,
.popup .edd-add-to-cart.button.edd-submit,
.popup .edd_go_to_checkout.button.edd-submit {
	color: #bcc3c8;
	border-color: #bcc3c8;
	border-radius: 50%;
	border-width: 3px;
	background: none;
	padding: 10px;
	position: relative;
	width: 75px;
	height: 75px;
	vertical-align: top;
}

.download-variable .entry-content .edd-add-to-cart-label,
.popup .edd-add-to-cart-label {
	font-size: 1px;
	visibility: hidden;
}

.download-variable .entry-content .edd-add-to-cart-label:before,
.download-variable .entry-content .edd_go_to_checkout:before,
.popup .edd-add-to-cart-label:before,
.popup .edd_go_to_checkout:before {
	font-size: 40px;
	visibility: visible;
	display: block;
	text-indent: 0;
	content: '\e677';
	position: absolute;
	top: 18px;
	left: 14px;
}

.popup .edd_go_to_checkout:before {
	color: #fff;
}

.download-variable .entry-content .edd_go_to_checkout,
.popup .edd_go_to_checkout {
	font-size: 0px !important;
}

.download-variable .entry-content .edd_go_to_checkout:before,
.popup .edd_go_to_checkout:before {
	top: 20px;
	left: 15px;
	font-size: 34px;
	content: '\e667';
}

.edd_price_options label,
.popup .edd_price_options label {
	cursor: pointer;
}

.entry-content > *:not(.edd_downloads_list) .edd_download_purchase_form {
	padding-bottom: 20px;
	border: 1px solid #bdc3c7;
	border-radius: 3px;
	float: left;
	margin: 0 1.5em 1.5em 0;
}

.download-variable .entry-content > *:not(.edd_downloads_list) .edd_download_purchase_form {
	padding-bottom: 40px;
}

.entry-content > *:not(.edd_downloads_list) .edd_download_purchase_form:last-of-type {
	clear: both;
	float: none;
	margin-right: 0;
	margin-top: 40px;
}

/* =Social
-------------------------------------------------------------- */

.entry-content .edd-slg-social-container {
	border: 0;
	padding: 0;
}

.entry-content fieldset.edd-slg-social-container > span:after {
	text-align: left;
}

.minimal .entry-content .edd-slg-social-container legend,
.entry-content .edd-slg-social-wrap {
	color: #fff;
	text-align: center;
}

.minimal .entry-content fieldset.edd-slg-social-container > span {
	position: relative;
	display: block;
	text-align: center;
}

.minimal .entry-content fieldset.edd-slg-social-container > span:after {
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	content: ' ';
}

.entry-content fieldset.edd-slg-social-container > span:after {
	background: #000;
}

.minimal .entry-content .edd-slg-social-container span legend {
	background: black;
	padding: 0 10px;
	margin: 40px auto;
	width: auto;
	position: relative;
	z-index: 10;
	display: inline-block;
}

.edd-slg-social-wrap .edd-slg-login-wrapper {
	display: block;
	float: none;
	margin-bottom: 10px;
}

.edd-slg-social-wrap .edd-slg-login-wrapper a {
	font: 400 13px 'Montserrat', sans-serif;
	color: #fff;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	padding: 13px 20px;
	display: block;
}

.edd-slg-social-wrap .edd-slg-login-wrapper img {
	display: none;
}

.edd-slg-social-wrap .edd-slg-login-wrapper span {
	font-size: 20px;
	line-height: 14px;
	display: inline-block;
	vertical-align: top;
	margin-right: 2px;
}

.edd-slg-social-wrap .edd-slg-login-wrapper span:before {
	line-height: 16px;
}

.edd-slg-social-login-facebook {
	background: #3b5998;
}

.edd-slg-social-login-facebook span:before {
	content: '\e6f6';
}

.edd-slg-social-login-twitter {
	background: #00acee;
}

.edd-slg-social-login-twitter span:before {
	content: '\e6f4';
}

.edd-slg-social-login-googleplus {
	background: #dd4b39;
}

.edd-slg-social-login-googleplus span:before {
	content: '\e6f9';
}

.edd-slg-social-login-linkedin {
	background: #0e76a8;
}

.edd-slg-social-login-linkedin span:before {
	content: '\e6ff';
}

.edd-slg-social-login-yahoo {
	background: #720e9e;
}

.edd-slg-social-login-windowslive {
	background: #0072C6;
}
