
.marketify_widget_fes_product_details {
	.edd-fpd {
    margin: 0;
		width: 100%;
	}

		@include bp(sm) {
			.edd-fpd {
        width: 110%;
				margin: -25px -10px;
			}

			.edd-fpd tr:first-child th,
			.edd-fpd tr:first-child td {
				padding-top: 25px;
			}

			.edd-fpd tr:last-child th,
			.edd-fpd tr:last-child td {
				padding-bottom: 25px;
			}
		}

	.edd-fpd th,
	.edd-fpd td {
		display: block;
	}

	.edd-fpd th {
		padding-top: 8px;
	}

	.edd-fpd td {
		padding-bottom: 8px;
	}

		@include bp(sm) {
			.edd-fpd th,
			.edd-fpd td {
				padding: 7px 5px;
				vertical-align: middle;
				display: table-cell;
			}
		}

	.edd-fpd th {
		font: 700 14px/normal 'Montserrat', sans-serif;
		text-transform: uppercase;
		width: 100%;
	}

		@include bp(sm) {
			.edd-fpd th {
				border-right: 1px solid #ccc;
				padding-right: 5%;
				width: 45%;
				display: table-cell;
			}
		}

	.edd-fpd th {
	}

	.edd-fpd td {
		font-size: 14px;
	}

		@include bp(sm) {
			.edd-fpd td {
				padding-left: 5%;
			}
		}
}
