.home .page-header {
    p {
        font: 20px 'Roboto Slab', serif;
        color: #fff;
        text-align: center;
        max-width: 80%;
        margin: 2.5em auto;

        @include bp(md) {
            max-width: 60%;
        }
    }

    .button {
        @extend .button--color-white;
        margin: 0 15px;
        font-size: 18px;
        padding: 14px 24px;
    }

    p:last-of-type {
        font-size: 15px;
        margin-bottom: 0;

        @include bp(md) {
            max-width: 980px;
        }

        img {
            margin-bottom: -6em;
            display: block;
        }
    }
}

.page-header__search {
    margin: 2.5em auto;
    max-width: 80%;

    label {
        display: inline-block;
    }
}
